canvas{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    /*border: 1px solid mediumblue;*/

}

#myBtn{
	background-color: red;
	color: white;
}

#Sphere
      position: relative;
      cursor: pointer;
